@charset "UTF-8";
/* variables------------------- */
/* colores */
/* medidas----- */
/* ---------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (min-width: 320px) {
  .header1 {
    padding: 0%;
    background-color: #85586F;
    border: 1px solid black;
    min-width: 320px;
    font-family: "Times New Roman", Times, serif;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 90px 60px 50px;
  }
  .header1 .nombre {
    font-family: "Dancing Script";
    color: black;
    animation: bounceInRight;
    animation-duration: 4s;
    font-weight: bolder;
    padding-left: 10px;
    margin-bottom: 0px;
  }
  .header1 div {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: start;
  }
  .header1 div input {
    background-color: #AC7D88;
  }
  .header1 div .navbar {
    padding: 0%;
    padding-left: 10px;
  }
  .header1 div .form-control {
    border: solid #85586f;
  }
  .header1 .nav {
    padding-left: 6px;
    align-self: center;
  }
  .header1 .nav a {
    color: black;
    font-weight: bolder;
    font-size: 140%;
  }
  .header1 .nav a:hover {
    color: white;
  }
  .header1 .nav .nav-link {
    padding: 0%;
    padding-right: 10px;
  }
  /* main----------------- */
  .row {
    margin: 0%;
  }
  .index {
    background-color: #AC7D88;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 350px 480px 580px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bolder;
    color: black;
  }
  .index .vista {
    text-align: center;
    font-size: medium;
    border: 10px solid #85586F;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .index .vista h2 {
    padding-bottom: 10px;
  }
  .index h2 {
    text-align: center;
    margin: 0px;
    text-decoration: underline;
  }
  .index section {
    grid-row: 2/3;
  }
  .index section .guia {
    padding: 15px;
  }
  .index section .tabla {
    font-size: 100%;
    text-align: center;
  }
  .index section .tabla1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    margin-bottom: 20px;
  }
  .index section .tabla2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
  }
  .index .col, .index .col-1, .index .col-10, .index .col-11, .index .col-12, .index .col-2, .index .col-3, .index .col-4, .index .col-5, .index .col-6, .index .col-7, .index .col-8, .index .col-9, .index .col-auto, .index .col-lg, .index .col-lg-1, .index .col-lg-10, .index .col-lg-11, .index .col-lg-12, .index .col-lg-2, .index .col-lg-3, .index .col-lg-4, .index .col-lg-5, .index .col-lg-6, .index .col-lg-7, .index .col-lg-8, .index .col-lg-9, .index .col-lg-auto, .index .col-md, .index .col-md-1, .index .col-md-10, .index .col-md-11, .index .col-md-12, .index .col-md-2, .index .col-md-3, .index .col-md-4, .index .col-md-5, .index .col-md-6, .index .col-md-7, .index .col-md-8, .index .col-md-9, .index .col-md-auto, .index .col-sm, .index .col-sm-1, .index .col-sm-10, .index .col-sm-11, .index .col-sm-12, .index .col-sm-2, .index .col-sm-3, .index .col-sm-4, .index .col-sm-5, .index .col-sm-6, .index .col-sm-7, .index .col-sm-8, .index .col-sm-9, .index .col-sm-auto, .index .col-xl, .index .col-xl-1, .index .col-xl-10, .index .col-xl-11, .index .col-xl-12, .index .col-xl-2, .index .col-xl-3, .index .col-xl-4, .index .col-xl-5, .index .col-xl-6, .index .col-xl-7, .index .col-xl-8, .index .col-xl-9, .index .col-xl-auto {
    position: initial;
  }
  .index .caja1 {
    grid-row: 3/4;
    position: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .index .caja1 .btn-primary {
    background-color: #85586F;
    border: solid #85586F;
    color: black;
  }
  .index .caja1 .cajabotom {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  /* footer------------- */
  footer {
    font-family: "Times New Roman", Times, serif;
    font-weight: bolder;
    color: black;
    background-color: #85586F;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 450px 100px;
  }
  footer .ubicacion {
    padding-top: 20px;
    text-align: center;
    font-weight: bolder;
    grid-row: 1/2;
    padding: 0%;
  }
  footer .ubicacion p {
    text-align: center;
    margin-bottom: 0px;
  }
  footer .ubicacion div {
    margin-bottom: 10px;
  }
  footer .contacto {
    font-weight: bolder;
    padding-top: 10px;
    grid-row: 2/3;
    text-align: center;
  }
  footer .contacto ul li {
    list-style: none;
  }
  footer .contacto a {
    text-decoration: none;
    color: black;
  }
  footer .contacto a:hover {
    color: white;
  }
  footer .col, footer .col-1, footer .col-10, footer .col-11, footer .col-12, footer .col-2, footer .col-3, footer .col-4, footer .col-5, footer .col-6, footer .col-7, footer .col-8, footer .col-9, footer .col-auto, footer .col-lg, footer .col-lg-1, footer .col-lg-10, footer .col-lg-11, footer .col-lg-12, footer .col-lg-2, footer .col-lg-3, footer .col-lg-4, footer .col-lg-5, footer .col-lg-6, footer .col-lg-7, footer .col-lg-8, footer .col-lg-9, footer .col-lg-auto, footer .col-md, footer .col-md-1, footer .col-md-10, footer .col-md-11, footer .col-md-12, footer .col-md-2, footer .col-md-3, footer .col-md-4, footer .col-md-5, footer .col-md-6, footer .col-md-7, footer .col-md-8, footer .col-md-9, footer .col-md-auto, footer .col-sm, footer .col-sm-1, footer .col-sm-10, footer .col-sm-11, footer .col-sm-12, footer .col-sm-2, footer .col-sm-3, footer .col-sm-4, footer .col-sm-5, footer .col-sm-6, footer .col-sm-7, footer .col-sm-8, footer .col-sm-9, footer .col-sm-auto, footer .col-xl, footer .col-xl-1, footer .col-xl-10, footer .col-xl-11, footer .col-xl-12, footer .col-xl-2, footer .col-xl-3, footer .col-xl-4, footer .col-xl-5, footer .col-xl-6, footer .col-xl-7, footer .col-xl-8, footer .col-xl-9, footer .col-xl-auto {
    position: initial;
  }
  /* paginas-----------320px----------- */
  body {
    font-family: "Times New Roman", Times, serif;
  }
  .header2.masculino {
    padding: 0%;
    background-color: #85586F;
    border: 1px solid black;
    min-width: 320px;
    font-family: "Times New Roman", Times, serif;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 90px 60px 50px;
  }
  .header2.masculino .nombre {
    font-family: "Dancing Script";
    color: black;
    animation: bounceInRight;
    animation-duration: 4s;
    font-weight: bolder;
    padding-left: 10px;
    margin-bottom: 0px;
  }
  .header2.masculino div {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: start;
  }
  .header2.masculino div input {
    background-color: #AC7D88;
  }
  .header2.masculino div .navbar {
    padding: 0%;
    padding-left: 10px;
  }
  .header2.masculino div .form-control {
    border: solid #85586f;
  }
  .header2.masculino .nav {
    padding-left: 6px;
    padding-right: 0px;
    align-self: center;
  }
  .header2.masculino .nav a {
    color: black;
    font-weight: bolder;
    font-size: 129%;
  }
  .header2.masculino .nav .nav-link {
    padding: 0%;
    padding-right: 10px;
  }
  /* main----masculino--320------ */
  main.masculino {
    background-color: #AC7D88;
    min-height: 800px;
    padding: 0%;
    display: flex;
    flex-direction: column;
  }
  .fila1 {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .div--paginacion {
    padding: 0%;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .page-link {
    position: initial;
    color: black;
    border: 1px solid black;
    background-color: #85586F;
  }
  .card {
    margin-bottom: 10px;
  }
  .masculino .btn-primary {
    background-color: #AC7D88;
  }
  .div--paginacion {
    background-color: #AC7D88;
    border: 2px solid #AC7D88;
  }
  .div--paginacion ul {
    padding: 0%;
    margin: 0px;
  }
  /* apartado femenino------------- */
  .header2.femenino {
    background-color: #85586F;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 90px 50px 50px;
  }
  .header2.femenino .nombre {
    margin: 0px;
    padding-left: 10px;
    animation: bounceInRight;
    animation-duration: 4s;
  }
  .header2.femenino div {
    grid-row: 3/4;
    font-size: medium;
    align-self: end;
  }
  .header2.femenino .nav {
    grid-row: 2/3;
    padding: 0%;
    padding-left: 5px;
    padding-top: 7px;
  }
  .header2.femenino div {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: start;
  }
  .header2.femenino input {
    background-color: #AC7D88;
  }
  .header2.femenino div {
    align-self: end;
    margin-bottom: 5px;
  }
  .header2.femenino nav {
    padding: 0%;
  }
  .header2.femenino nav ul li a {
    font-size: 20px;
  }
  .header2.femenino .navbar {
    padding-left: 5px;
  }
  main.femenino {
    background-color: #AC7D88;
    min-height: 800px;
    padding: 0%;
  }
  /*otros 320px */
  .header2.otros {
    background-color: #85586F;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 90px 50px 50px;
  }
  .header2.otros .nombre {
    margin: 0px;
    padding-left: 10px;
    animation: bounceInRight;
    animation-duration: 4s;
  }
  .header2.otros div {
    grid-row: 3/4;
    font-size: medium;
    align-self: end;
  }
  .header2.otros .nav {
    grid-row: 2/3;
    padding: 0%;
    padding-left: 5px;
    padding-top: 7px;
  }
  .header2.otros div {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: start;
  }
  .header2.otros nav {
    padding: 0%;
  }
  .header2.otros nav ul li a {
    font-size: large;
  }
  .header2.otros .navbar {
    padding-left: 5px;
  }
  /* main de otros----------320px----- */
  main.otros {
    background-color: #AC7D88;
    min-height: 800px;
    padding: 0%;
  }
  /* politica de devolucion----------- */
  .politica {
    background-color: #AC7D88;
    min-height: 1250px;
    padding-top: 20px;
    text-align: center;
  }
  .politica p {
    margin: 0px;
    padding-bottom: 15px;
  }
}
/* telefono modo horizontal------------- */
@media only screen and (min-width: 479px) {
  .header1 {
    min-width: 479px;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 50px 60px 40px;
  }
  .header1 .nav {
    align-self: center;
    padding-top: 0px;
  }
  .header1 .nav a {
    font-size: x-large;
  }
}
/* tablets pequeñas------------------- */
@media only screen and (min-width: 600px) {
  .index {
    min-width: 600px;
  }
  .index .vista {
    border: 25px solid #85586F;
  }
  .index .tabla {
    padding: 10px 110px 10px;
  }
  .index .caja1 .form1 {
    padding: 10px 200px;
  }
  .index .caja1 .form2 {
    padding: 10px 180px;
  }
}
/* tablets de 10 pulgadas-----------*/
@media only screen and (min-width: 768px) {
  .header1 {
    min-width: 768px;
  }
  .header1 .nombre {
    padding-right: 8px;
    font-size: 300%;
  }
  /* main-------768-----index---- */
  .index {
    min-width: 768px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 340px 460px 578px;
  }
  .index .vista {
    padding: 20px 40px 70px;
    border: 40px solid #85586F;
  }
  .index .guia {
    padding: 10px 300px 5px;
  }
  .index .tabla {
    font-size: large;
  }
  .index .tabla {
    padding: 10px 195px 10px;
  }
  .index .form2 {
    padding: 10px 260px;
  }
  /* masculino---header----768px */
  .header2.masculino {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 70px 60px 50px;
  }
  .header2.masculino nav ul li a {
    font-size: xx-large;
  }
  .header2.masculino h1 {
    font-size: 320%;
  }
  .header .nav {
    padding-top: 0px;
    align-self: center;
  }
}
/* tablets modo horizonta ----------- */
@media only screen and (min-width: 1024px) {
  .header1 {
    position: fixed;
    padding: 0px;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 80px 50px 50px;
  }
  .header1 .nombre {
    font-size: 370%;
  }
  .index {
    min-width: 1024px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh 620px 600px;
  }
  .index .vista {
    margin-top: 140px;
    padding: 50px 160px 60px;
    border: 45x solid #85586F;
    font-size: x-large;
  }
  .index section .tabla {
    font-size: x-large;
  }
  /* paginas-------------- */
  .header2 .nav {
    padding-top: 0px;
    align-self: center;
  }
}
/* Portatiles-------------- */
@media only screen and (min-width: 1200px) {
  /*pagina principal*/
  /*header*/
  .header1 {
    background-color: #85586F;
    height: 175px;
    min-width: 100vw;
    position: fixed;
    top: 0px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .header1 .nombre {
    margin: 0%;
    font-size: 400%;
    padding-left: 15px;
    grid-column: 1/3;
  }
  .header1 .nav {
    align-self: flex-end;
    padding-top: 20px;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .header1 .nav .nav-link {
    padding-right: 20px;
  }
  .header1 .nav ul li {
    margin: 0%;
  }
  .header1 .nav a {
    font-size: xx-large;
  }
  .header1 div {
    justify-self: end;
    align-self: end;
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0%;
  }
  .header1 div input {
    font-size: large;
    margin-bottom: 5px;
  }
  /*footer */
  footer {
    background-color: #85586F;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
  footer .ubicacion {
    justify-self: start;
    margin: 20px;
  }
  footer .contacto {
    font-size: large;
    justify-self: end;
    align-self: end;
    margin: 10px;
    margin-right: 10px;
    grid-column: 21/2;
    grid-row: 1/2;
  }
  /* main -------*/
  .index {
    min-width: 1200px;
    background-color: #AC7D88;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 100vh 600px 600px;
  }
  .index .vista {
    font-size: x-large;
    padding: 40px 150px 80px;
    margin-top: 110px;
    border: 65px solid #85586f;
  }
  /*paginas-------------------*/
  /* masculino-----1200px------- */
  .header2.masculino {
    background-color: #85586F;
    height: 175px;
    min-width: 100vw;
    position: fixed;
    top: 0px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .header2.masculino .nombre {
    margin: 0%;
    font-size: 400%;
    padding-left: 15px;
    grid-column: 1/3;
  }
  .header2.masculino .nav {
    align-self: flex-end;
    padding-top: 20px;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .header2.masculino .nav .nav-link {
    padding-right: 20px;
  }
  .header2.masculino .nav ul li {
    margin: 0%;
  }
  .header2.masculino .nav a {
    font-size: xx-large;
  }
  .header2.masculino div {
    justify-self: end;
    align-self: end;
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0%;
  }
  .header2.masculino div input {
    font-size: large;
    margin-bottom: 5px;
  }
  /* main--masculino----1200px */
  main.masculino {
    margin-top: 175px;
    position: initial;
  }
  main.masculino .fila1 {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  main.masculino .div--paginacion {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  main.masculino .card {
    position: initial;
  }
  /* femenino-------1200px------ */
  .header2.femenino {
    background-color: #85586F;
    height: 175px;
    min-width: 100vw;
    position: fixed;
    top: 0px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .header2.femenino .nombre {
    margin: 0%;
    grid-column: 1/3;
    font-size: 400%;
  }
  .header2.femenino div {
    justify-self: end;
    align-self: end;
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0%;
    margin-left: 20px;
  }
  .header2.femenino nav {
    align-self: flex-end;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .header2.femenino .nav ul li a {
    font-size: xx-large;
  }
  .header2.femenine div input {
    font-size: large;
    margin-bottom: 5px;
  }
  /* otros------1200px--- */
  .header2.otros {
    background-color: #85586F;
    height: 175px;
    min-width: 100vw;
    position: fixed;
    top: 0px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .header2.otros .nombre {
    margin: 0%;
    grid-column: 1/3;
    font-size: 400%;
  }
  .header2.otros div {
    justify-self: end;
    align-self: end;
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0%;
    margin-left: 20px;
  }
  .header2.otros nav {
    align-self: flex-end;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .header2.otros .nav ul li a {
    font-size: xx-large;
  }
  .header2.otros div input {
    font-size: large;
    margin-bottom: 5px;
  }
  /* main de otros----------- */
  main.otros {
    margin-top: 175px;
  }
  main.otros .card {
    position: initial;
  }
  /* politica------1200px----- */
  .politica {
    margin-top: 175px;
    padding: 20px 20px;
    text-align: left;
    min-height: 500px;
    font-size: x-large;
  }
}

/*# sourceMappingURL=estilos.css.map */
